sudo: false

language: cpp

compiler:
    - gcc
    - clang

addons:
  apt:
	packages:
        - g++-6
        - clang-3.8
        - libboost-all-dev

install:
    - "[ $CXX = g++ ] && export CXX=g++-6 || true"
    - "[ $CXX = clang++ ] && export CXX=clang++-3.8 || true"

script:
    - make
    - test